# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [74]:
# import numpy and pandas
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
from scipy.stats import f_oneway
import statistics
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [4]:
# Your code here:
driver   = 'mysql+pymysql:'
user     = 'root'
password = 'Ironhack12'
ip       = '127.0.0.1'
database = 'employees'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

In [6]:
df=pd.read_sql('SELECT * FROM employees_advanced', engine)

Examine the `salaries` dataset using the `head` function below.

In [19]:
# Your code here:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
# Your code here:
df.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:
df.dtypes

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Typical Hours        float64
Annual Salary        float64
Hourly Rate          float64
dtype: object

In [17]:
df['Salary or Hourly'].unique()

array(['Salary', 'Hourly'], dtype=object)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [22]:
# Your code here:
df.groupby("Department").agg({"Name":'count'})

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [27]:
# Your code here:

df_h=df[df['Salary or Hourly']=='Hourly']
df_h

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,NaN,20.00
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
40,"ABRAMS, TIFFANY",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
42,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,44.88
48,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
52,"ABUHASHISH, AWWAD",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
56,"ACCARDI, JOHNNA L",EQUIPMENT DISPATCHER,AVIATION,F,Hourly,40.0,NaN,36.22
57,"ACCARDO, ANTHONY D",CONSTRUCTION LABORER,AVIATION,F,Hourly,40.0,NaN,40.20
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
77,"ACEVEDO, JAVIER",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,40.20
87,"ACEVEDO, STEVEN A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,32.04
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
95,"ACKLIN, QIANA D",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
96,"ACOSTA, CESAR I",STEAMFITTER,WATER MGMNT,F,Hourly,40.0,NaN,47.50
99,"ACOSTA, JORGE",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
108,"ACRES, ANTHONY E",LABORER,GENERAL SERVICES,F,Hourly,40.0,NaN,40.20
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
112,"ADAMCZYK JR, JAN",BOOTER - PARKING,FINANCE,F,Hourly,40.0,NaN,32.25
115,"ADAME, JORGE A",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
...,...,...,...,...,...,...,...,...
33079,"ZIELINSKI, THEODORE J",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33080,"ZIEMANN, DAVID M",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33081,"ZIEMANN, DONALD W",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33087,"ZIENTARSKI, DAVID A",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
33090,"ZIMMERMAN, EDWARD A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33094,"ZINCHUK, BRIAN C",OPERATING ENGINEER-GROUP A,WATER MGMNT,F,Hourly,40.0,NaN,47.44
33103,"ZIVAT, MICHAEL",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33104,"ZIZUMBO, DANIEL",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33108,"ZIZZO, RUSS D",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33112,"ZOCHOWSKI, DAVID J",OPERATING ENGINEER-GROUP C,AVIATION,F,Hourly,40.0,NaN,45.07
33120,"ZOLTEK, JOHN J",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
33128,"ZOVKO, RICHARD A",HOISTING ENGINEER - MECHANIC,GENERAL SERVICES,F,Hourly,40.0,NaN,52.10
33132,"ZUBECK, JOHN",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33135,"ZUCCARELLI, ROBERT A",BRIDGE AND STRUCTURAL IRON WORKER,TRANSPORTN,F,Hourly,40.0,NaN,46.20
33136,"ZUCKER, MICHAEL J",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33145,"ZUMARAS, ROLAND A",AIRPORT MAINTENANCE FOREMAN,AVIATION,F,Hourly,40.0,NaN,35.57
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33150,"ZUNIGA JR, JAMES",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,23.31
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [44]:
h_mean=df_h['Hourly Rate']
h_mean

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
19       46.10
21       21.43
24       35.60
26       25.10
33       20.00
36       36.21
39       35.60
40       45.07
42       44.88
48       46.10
52       48.25
56       36.22
57       40.20
62       36.13
77       40.20
87       32.04
90       28.48
95       17.68
96       47.50
99       46.10
106      36.21
108      40.20
111      36.21
112      32.25
115      46.35
         ...
33079    48.25
33080    40.20
33081    35.60
33087    47.44
33090    35.60
33094    47.44
33103    40.20
33104    35.60
33105    35.60
33106    36.13
33107    35.60
33108    35.60
33112    45.07
33120    46.10
33128    52.10
33132    48.25
33135    46.20
33136    46.35
33145    35.57
33147    35.60
33149    36.21
33150    23.31
33156    22.12
33158    40.20
33161    48.85
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [46]:
tset,pval=ttest_1samp(h_mean,30)
print(pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

4.3230240486229894e-92
 we are rejecting null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [51]:
df_s.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN

In [55]:
# Your code here:
df_s=df[df['Salary or Hourly']=='Salary']
s_mean=df_s['Annual Salary']
s_mean

0        101442.0
1         94122.0
2        101592.0
3        110064.0
5         50436.0
8        103350.0
9         93354.0
11        84054.0
12        87006.0
13       102228.0
14        84054.0
15        91272.0
16       111492.0
17        95484.0
20        65448.0
22        90024.0
23        82614.0
25        48078.0
27        76266.0
28        48078.0
29       110064.0
30       110064.0
31        55644.0
32        80016.0
34        72510.0
35        65820.0
37       128970.0
38        68616.0
41        89148.0
43       101712.0
           ...
33141     80016.0
33142     91080.0
33143     97386.0
33144     56304.0
33146     87006.0
33148     83136.0
33151     90024.0
33152     84054.0
33153     72510.0
33154     84054.0
33155     90024.0
33157     92274.0
33159    114324.0
33160     76266.0
33162     76896.0
33163     96060.0
33165     89076.0
33166     76266.0
33167     76932.0
33170     90024.0
33171    114324.0
33172     72510.0
33173     87006.0
33176     48078.0
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
33182    115932.0
Name: Annual Salary, Length: 25161, dtype: float64

In [57]:
tset,pval=ttest_1samp(s_mean,86000)
print(pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

3.015758519916386e-09
 we are rejecting null hypothesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [58]:
# Your code here:
pd.crosstab(df['Salary or Hourly'],df['Department'])

Department,ADMIN HEARNG,ANIMAL CONTRL,AVIATION,BOARD OF ELECTION,BOARD OF ETHICS,BUDGET & MGMT,BUILDINGS,BUSINESS AFFAIRS,CITY CLERK,CITY COUNCIL,...,MAYOR'S OFFICE,OEMC,POLICE,POLICE BOARD,PROCUREMENT,PUBLIC LIBRARY,STREETS & SAN,TRANSPORTN,TREASURER,WATER MGMNT
Salary or Hourly,,,,,,,,,,,,,,,,,,,,,
Hourly,0,19,1082,0,0,2,0,7,0,64,...,8,1273,10,0,2,299,1862,725,0,1513
Salary,39,62,547,107,8,44,269,164,84,347,...,77,829,13404,2,90,716,336,415,22,366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [67]:
# Your code here:
df_sd=df[df['Department']=='STREETS & SAN']
df_sd_hourly=df_sd[df_sd['Salary or Hourly']=='Hourly']
df_sd_hourly_rate=df_sd_hourly['Hourly Rate']
#asdf=df[df['Salary or Hourly']=='Salary']

In [68]:
tset,pval=ttest_1samp(df_sd_hourly_rate,35)
print(pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

3.3378530564707717e-21
 we are rejecting null hypothesis

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [79]:
# Your code here:
std=statistics.stdev(h_mean)
mean=statistics.mean(h_mean)
a=0.95
e=std/np.sqrt(len(h_mean))
stats.t.interval(a,(len(h_mean)-1),loc=mean,scale=e)

(32.52345834488424, 33.05365708767622)

In [78]:
stats.sem(mean)

/Users/kforster/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Users/kforster/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

nan

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [80]:
# Your code here:
std=statistics.stdev(s_mean)
mean=statistics.mean(s_mean)
a=0.95
e=std/np.sqrt(len(s_mean))
stats.t.interval(a,(len(s_mean)-1),loc=mean,scale=e)

(86526.99656774187, 87047.00301256099)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: